<a href="https://colab.research.google.com/github/leobioinf0/Kibana/blob/main/S15_T01_Kibana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IT Academy - Data Science with Python
## S15 T01: Kibana

- Exercise 1: 
  - Download Kibana and display some graphs using Example datasets.
- Exercise 2: 
  - Implement a dashboard that interactively displays the data you choose.
- Exercise 3: 
  - Implement a dashboard that generates graphics using each of the different types of graphics that Kibana offers.

# Install packages

In [ ]:
!pip install elasticsearch
!pip install pygeoip
!pip install user_agents

## Level 1

- Exercise 1: 
  - Download Kibana and display some graphs using Example datasets.

## Install Elasticsearch

Download and install archive for Linux

In [ ]:
!wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-8.0.1-linux-x86_64.tar.gz

--2022-03-02 19:53:59--  https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-8.0.1-linux-x86_64.tar.gz
Resolving artifacts.elastic.co (artifacts.elastic.co)... 34.120.127.130, 2600:1901:0:1d7::
Connecting to artifacts.elastic.co (artifacts.elastic.co)|34.120.127.130|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 515419358 (492M) [application/x-gzip]
Saving to: ‘elasticsearch-8.0.1-linux-x86_64.tar.gz’

elasticsearch-8.0.1 100%[===================>] 491.54M  27.2MB/s    in 19s

2022-03-02 19:54:18 (25.4 MB/s) - ‘elasticsearch-8.0.1-linux-x86_64.tar.gz’ saved [515419358/515419358]

Compares the SHA of the downloaded .tar.gz archive and the published checksum

In [ ]:
!wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-8.0.1-linux-x86_64.tar.gz.sha512

--2022-03-02 19:54:29--  https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-8.0.1-linux-x86_64.tar.gz.sha512
Resolving artifacts.elastic.co (artifacts.elastic.co)... 34.120.127.130, 2600:1901:0:1d7::
Connecting to artifacts.elastic.co (artifacts.elastic.co)|34.120.127.130|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 170 [binary/octet-stream]
Saving to: ‘elasticsearch-8.0.1-linux-x86_64.tar.gz.sha512’

elasticsearch-8.0.1 100%[===================>]     170  --.-KB/s    in 0s

2022-03-02 19:54:29 (26.3 MB/s) - ‘elasticsearch-8.0.1-linux-x86_64.tar.gz.sha512’ saved [170/170]

In [ ]:
!shasum -a 512 -c elasticsearch-8.0.1-linux-x86_64.tar.gz.sha512

elasticsearch-8.0.1-linux-x86_64.tar.gz: OK

In [ ]:
!tar -xzf elasticsearch-8.0.1-linux-x86_64.tar.gz

## Install Kibana

Import the Elastic PGP key

In [ ]:
!wget -qO - https://artifacts.elastic.co/GPG-KEY-elasticsearch | sudo apt-key add -

OK


Install from the APT repository

In [ ]:
!sudo apt-get install apt-transport-https

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-470
Use 'sudo apt autoremove' to remove it.
The following NEW packages will be installed:
  apt-transport-https
0 upgraded, 1 newly installed, 0 to remove and 39 not upgraded.
Need to get 4,348 B of archives.
After this operation, 154 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 apt-transport-https all 1.6.14 [4,348 B]
Fetched 4,348 B in 0s (20.4 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package apt-transport-https.
(Reading database ... 155320 files and directories currently installed.)
Preparing to unpack .../apt-transport-https_1.6.14_all.deb ...
Unpacking apt-transport-https (1.6.14) ...
Setting up apt-transport-https (1.6.14) ...

Save the repository

In [ ]:
!echo "deb https://artifacts.elastic.co/packages/8.x/apt stable main" | sudo tee -a /etc/apt/sources.list.d/elastic-8.x.list

deb https://artifacts.elastic.co/packages/8.x/apt stable main

You can install the Kibana Debian package with:

In [ ]:
!sudo apt-get update && sudo apt-get install kibana

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 https://artifacts.elastic.co/packages/8.x/apt stable InRelease [10.4 kB]
Get:4 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:10 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:11 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [76.8 kB]
Get:12 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:13 https://artifacts.elastic.co/packages/8.x/apt stable/main amd64 Packages [5,153 B]
Hit:15 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:16 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [931 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:18 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:19 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [806 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,827 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,252 kB]
Get:23 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,596 kB]
Get:24 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,474 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,035 kB]
Get:26 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [840 kB]
Get:27 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [936 kB]
Get:28 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [42.8 kB]
Fetched 15.1 MB in 3s (5,268 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-470
Use 'sudo apt autoremove' to remove it.
The following NEW packages will be installed:
  kibana
0 upgraded, 1 newly installed, 0 to remove and 75 not upgraded.
Need to get 281 MB of archives.
After this operation, 761 MB of additional disk space will be used.
Get:1 https://artifacts.elastic.co/packages/8.x/apt stable/main amd64 kibana amd64 8.0.1 [281 MB]
Fetched 281 MB in 11s (25.4 MB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package kibana.
(Reading database ... 155324 files and directories currently installed.)
Preparing to unpack .../kibana_8.0.1_amd64.deb ...
System has not been booted with systemd as init system (PID 1). Can't operate.
Unpacking kibana (8.0.1) ...
Setting up kibana (8.0.1) ...
Creating kibana group... OK
Creating kibana user... OK
Created Kibana keystore in /etc/kibana/kibana.keystore

## Home Elastic

![HomeElastic](https://raw.githubusercontent.com/leobioinf0/Kibana/main/img/01-HomeElastic.png)

## Visualize the Data

Display Visualizations of Data Ecommerce Example

### Graph

![ecommerce_graph](https://raw.githubusercontent.com/leobioinf0/Kibana/main/img/02-ecommerce_graph.png)

### Map (Total Revenue)

![totalRevenue_map](https://raw.githubusercontent.com/leobioinf0/Kibana/main/img/03-totalRevenue_map.png)

### Rvenue And Transactions

![revenueAndTransactions_dashboard](https://raw.githubusercontent.com/leobioinf0/Kibana/main/img/04-revenueAndTransactions_dashboard.png)

### Bars and Table

![barsAndTable](https://raw.githubusercontent.com/leobioinf0/Kibana/main/img/05-barsAndTable_dashboard.png)

### Metrics

![metrics_dashboard](https://raw.githubusercontent.com/leobioinf0/Kibana/main/img/05-metrics_dashboard.png)

### Tracks And Map

![tracksAndMap_dashboard](https://raw.githubusercontent.com/leobioinf0/Kibana/main/img/06-tracksAndMap_dashboard.png)

### Horizontal Bars

![hbars_dashboard](https://raw.githubusercontent.com/leobioinf0/Kibana/main/img/07-hbars_dashboard.png)

### Documents

![orders_dashboard](https://raw.githubusercontent.com/leobioinf0/Kibana/main/img/08-orders_dashboard.png)

## Level 2

- Exercise 1: 
  - Implement a dashboard that interactively displays the data you choose.

![dashboard](https://raw.githubusercontent.com/leobioinf0/Kibana/main/img/09-dashboard.png)

## Level 3

- Exercise 1: 
  - Implement a dashboard that generates graphics using each of the different types of graphics that Kibana offers.

We will use the data from the exercise "Registre_de_logs"

### Get Data

In [6]:
!wget https://raw.githubusercontent.com/leobioinf0/Registre_de_logs/main/SMALL_Web_access_log-akumenius.com.txt

--2022-03-02 22:31:36--  https://raw.githubusercontent.com/leobioinf0/Registre_de_logs/main/SMALL_Web_access_log-akumenius.com.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20624575 (20M) [text/plain]
Saving to: ‘SMALL_Web_access_log-akumenius.com.txt’

SMALL_Web_access_lo 100%[===================>]  19.67M  --.-KB/s    in 0.09s

2022-03-02 22:31:38 (210 MB/s) - ‘SMALL_Web_access_log-akumenius.com.txt’ saved [20624575/20624575]

In [9]:
import pandas as pd

df = pd.read_csv(
    'https://raw.githubusercontent.com/leobioinf0/Registre_de_logs/main/SMALL_Web_access_log-akumenius.com.txt',
    sep=r'\s(?=(?:[^"]*"[^"]*")*[^"]*$)(?![^\[]*\])',
    engine='python',
    na_values="-",
    header=None,
    usecols=[0, 1, 4, 5, 6, 7, 8, 9],
    names=['host','ip', 'time', 'request', 'status', 'size', 'referer', 'user_agent'],
    converters={'size': int})
df.tail(2)

        host         ip  ... referer                            user_agent
0  localhost  127.0.0.1  ...     "-"  "Apache (internal dummy connection)"
1  localhost  127.0.0.1  ...     "-"  "Apache (internal dummy connection)"
2  localhost  127.0.0.1  ...     "-"  "Apache (internal dummy connection)"
3  localhost  127.0.0.1  ...     "-"  "Apache (internal dummy connection)"
4  localhost  127.0.0.1  ...     "-"  "Apache (internal dummy connection)"

[5 rows x 8 columns]

Replace "w." and "ww." with "www." in the attribute "host"

In [10]:
df["host"].str.replace("^[w]{1,2}\.","www.")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

0                localhost
1                localhost
2                localhost
3                localhost
4                localhost
               ...
72023    www.akumenius.com
72024    www.akumenius.com
72025    www.akumenius.com
72026    www.akumenius.com
72027    www.akumenius.com
Name: host, Length: 72028, dtype: object

We extract the HTTP request methods from the request

In [11]:
df["methods"] = df["request"].str.extract(r'(GET|HEAD|TRACE|OPTIONS|POST|PUT|DELETE|CONNECT|PATCH)')
df.tail(2)

        host         ip  ...                            user_agent  methods
0  localhost  127.0.0.1  ...  "Apache (internal dummy connection)"  OPTIONS
1  localhost  127.0.0.1  ...  "Apache (internal dummy connection)"  OPTIONS

[2 rows x 9 columns]

We extract the URI from the request

In [12]:
df["URI"] = df["request"].str.extract(r'\s(\/+[^\s]+)')
df.tail(2)

        host         ip  ...  methods  URI
0  localhost  127.0.0.1  ...  OPTIONS  NaN
1  localhost  127.0.0.1  ...  OPTIONS  NaN

[2 rows x 10 columns]

We extract the protocol from the request

In [13]:
df["protocol"] = df["request"].str.extract(r'(HTTP\/1\.[0|1])')
df.tail(2)

        host         ip                          time  ...  methods  URI  protocol
0  localhost  127.0.0.1  [23/Feb/2014:03:10:31 +0100]  ...  OPTIONS  NaN  HTTP/1.0
1  localhost  127.0.0.1  [23/Feb/2014:03:10:31 +0100]  ...  OPTIONS  NaN  HTTP/1.0

[2 rows x 11 columns]

status to int

In [14]:
df["status"] = df["status"].apply(lambda x: int(x))
df.tail(2)

        host         ip                          time  ...  methods  URI  protocol
0  localhost  127.0.0.1  [23/Feb/2014:03:10:31 +0100]  ...  OPTIONS  NaN  HTTP/1.0
1  localhost  127.0.0.1  [23/Feb/2014:03:10:31 +0100]  ...  OPTIONS  NaN  HTTP/1.0

[2 rows x 11 columns]

We maps the status codes to the W3C names.

In [17]:
from http.client import responses
df["status_description"] = df["status"].apply(lambda x: responses[x])
df.tail(2)

        host         ip  ...  protocol status_description
0  localhost  127.0.0.1  ...  HTTP/1.0                 OK
1  localhost  127.0.0.1  ...  HTTP/1.0                 OK

[2 rows x 12 columns]

Remove quotes from referer

In [19]:
import numpy as np
df["referer"] = df["referer"].str.replace("\"","")
df["referer"]= df["referer"].apply(lambda x: np.nan if x == "-" else x)
df.tail(2)

        host         ip  ...  protocol status_description
0  localhost  127.0.0.1  ...  HTTP/1.0                 OK
1  localhost  127.0.0.1  ...  HTTP/1.0                 OK

[2 rows x 12 columns]

time to datatime object

In [28]:
df["time"] = df["time"].str.replace("[", "").str.replace("]", "")
df["time"] = df.time.str.split(":").str[0] + " " + df.time.str.split(":").str[1:].apply(lambda x: ":".join(x))
df["time"] = pd.to_datetime(df["time"])
df.tail(2)

        host         ip  ...  protocol status_description
0  localhost  127.0.0.1  ...  HTTP/1.0                 OK
1  localhost  127.0.0.1  ...  HTTP/1.0                 OK

[2 rows x 12 columns]

edit user_agent

In [20]:
df["user_agent"] = df["user_agent"].str.replace("\"","")


We parse the "user_agent" to identify browser, device and os attributes.

In [29]:
from user_agents import parse
df["browser_family"] = df["user_agent"].apply(lambda x: parse(x).browser.family )
df["browser_version"] = df["user_agent"].apply(lambda x: parse(x).browser.version_string)
df["os_family"] = df["user_agent"].apply(lambda x: parse(x).os.family)
df["os_version"] = df["user_agent"].apply(lambda x: parse(x).os.version_string)
df["device_family"] = df["user_agent"].apply(lambda x: parse(x).device.family)
df["device_brand"] = df["user_agent"].apply(lambda x: parse(x).device.brand)
df["device_model"] = df["user_agent"].apply(lambda x: parse(x).device.model)
df.tail(2)

        host         ip  ... device_brand device_model
0  localhost  127.0.0.1  ...         None         None
1  localhost  127.0.0.1  ...         None         None

[2 rows x 19 columns]

In [30]:
!wget https://raw.githubusercontent.com/leobioinf0/Registre_de_logs/main/GeoLiteCity.dat

--2022-03-02 22:46:47--  https://raw.githubusercontent.com/leobioinf0/Registre_de_logs/main/GeoLiteCity.dat
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20539238 (20M) [application/octet-stream]
Saving to: ‘GeoLiteCity.dat’

GeoLiteCity.dat     100%[===================>]  19.59M  --.-KB/s    in 0.09s

2022-03-02 22:46:48 (221 MB/s) - ‘GeoLiteCity.dat’ saved [20539238/20539238]

We geolocate IPs

In [32]:
import pygeoip
gi = pygeoip.GeoIP('./GeoLiteCity.dat', pygeoip.MEMORY_CACHE)

In [34]:
df["GeoIP"] = df["ip"].apply(lambda x: gi.record_by_addr(x))
df = pd.concat([df.drop(['GeoIP'], axis=1), df['GeoIP'].apply(pd.Series)], axis=1)
df.tail(2)

                    host              ip  ... longitude      time_zone
72026  www.akumenius.com  46.222.223.201  ...   -3.7026  Europe/Madrid
72027  www.akumenius.com  46.222.223.201  ...   -3.7026  Europe/Madrid

[2 rows x 32 columns]

Save data

In [35]:
df.to_csv(r'akumenius.csv', index=False)

In [37]:
from elasticsearch import Elasticsearch

es = Elasticsearch(cloud_id="S15_T01_deployment:dXMtY2VudHJhbDEuZ2NwLmNsb3VkLmVzLmlvJDBmOGVjZmM1MTY1ZDQwNWVhOWEyYjQ1M2JjNzEyOWUzJDk0OWM2NjFlNTkwYTQ5ODdhMTdjODBlOTUwY2U4ZDM5",
                   basic_auth=("elastic", "TRSOInnB4h7YLMyeE3Xda6kA"))

res = es.indices.get(index="*")

/usr/local/lib/python3.7/dist-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.8) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [48]:
from pprint import pprint

pprint(res.body['akumenius_index']['mappings']['properties'])

{'@timestamp': {'type': 'date'},
 'URI': {'type': 'keyword'},
 'area_code': {'type': 'double'},
 'browser_family': {'type': 'keyword'},
 'browser_version': {'type': 'keyword'},
 'city': {'type': 'keyword'},
 'continent': {'type': 'keyword'},
 'country_code': {'type': 'keyword'},
 'country_code3': {'type': 'keyword'},
 'country_name': {'type': 'keyword'},
 'device_brand': {'type': 'keyword'},
 'device_family': {'type': 'keyword'},
 'device_model': {'type': 'keyword'},
 'dma_code': {'type': 'double'},
 'host': {'type': 'keyword'},
 'ip': {'type': 'ip'},
 'latitude': {'type': 'double'},
 'location': {'type': 'geo_point'},
 'longitude': {'type': 'double'},
 'methods': {'type': 'keyword'},
 'metro_code': {'type': 'keyword'},
 'os_family': {'type': 'keyword'},
 'os_version': {'type': 'double'},
 'postal_code': {'type': 'long'},
 'protocol': {'type': 'keyword'},
 'referer': {'type': 'keyword'},
 'region_code': {'type': 'keyword'},
 'request': {'type': 'keyword'},
 'size': {'type': 'long'},
 'status': {'type': 'long'},
 'status_description': {'type': 'keyword'},
 'time': {'format': 'yyyy-MM-dd HH:mm:ssXXX', 'type': 'date'},
 'time_zone': {'type': 'keyword'},
 'user_agent': {'type': 'text'}}

### Dashboard

![control](https://raw.githubusercontent.com/leobioinf0/Kibana/main/img/10.png)

![control](https://raw.githubusercontent.com/leobioinf0/Kibana/main/img/11.png)

![control](https://raw.githubusercontent.com/leobioinf0/Kibana/main/img/12.png)

![control](https://raw.githubusercontent.com/leobioinf0/Kibana/main/img/13.png)